flows (1).json
[{"id":"484041a4.a0cac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"667316fd.58b5a8","type":"debug","z":"484041a4.a0cac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"2318e4f6.071dcc","type":"function","z":"484041a4.a0cac","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["ab58bca1.f80f9"]]},{"id":"d8919189.16eba","type":"function","z":"484041a4.a0cac","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":320,"wires":[["6df7bfb6.6e44a"]]},{"id":"ab58bca1.f80f9","type":"watson-conversation-v1","z":"484041a4.a0cac","name":"","workspaceid":"4a8ebcdf-e164-487e-9a7d-e47e8fb1fa5f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a42069ee-2246-4eb3-a613-c898d90c7d6b","timeout":"","optout-learning":false,"x":520,"y":220,"wires":[["667316fd.58b5a8","d8919189.16eba"]]},{"id":"c49b8a38.bdba48","type":"ui_text","z":"484041a4.a0cac","group":"4e5cfd43.72ac64","order":6,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":310,"y":360,"wires":[]},{"id":"6df7bfb6.6e44a","type":"ui_text","z":"484041a4.a0cac","group":"4e5cfd43.72ac64","order":7,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":870,"y":380,"wires":[]},{"id":"c669360f.eb1d48","type":"ui_form","z":"484041a4.a0cac","name":"","label":"","group":"4e5cfd43.72ac64","order":5,"width":0,"height":0,"options":[{"label":"Enter the text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["2318e4f6.071dcc","c49b8a38.bdba48"]]},{"id":"4e5cfd43.72ac64","type":"ui_group","z":"","name":"Welcome to Shopile","tab":"6143c8ad.072638","order":1,"disp":true,"width":14,"collapse":false},{"id":"6143c8ad.072638","type":"ui_tab","z":"","name":"Shopbot","icon":"dashboard","disabled":false,"hidden":false}]