flows (2).json
[{"id":"9a2a53f2.083ec","type":"tab","label":"cloudant","disabled":false,"info":""},{"id":"3665be56.a82ad2","type":"ui_text","z":"9a2a53f2.083ec","group":"e115ece9.a6cf7","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":260,"wires":[]},{"id":"bc13e715.512e28","type":"function","z":"9a2a53f2.083ec","name":"","func":"msg.payload ={\n    Name: msg.payload.Name,\n    address: msg.payload.address,\n    contact: msg.payload.contact,\n    order: msg.payload.order,\n    id: msg.payload.mailid\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["a918f8f0.d23768"]]},{"id":"6086e7b9.6af4f8","type":"function","z":"9a2a53f2.083ec","name":"","func":"msg.payload = \"Hey! \"+msg.payload.Name+\" .Order is recieved Successful\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["3665be56.a82ad2"]]},{"id":"90c3ad7d.6455a","type":"ui_form","z":"9a2a53f2.083ec","name":"","label":"","group":"e115ece9.a6cf7","order":1,"width":0,"height":0,"options":[{"label":" Your name ","value":"Name","type":"text","required":true,"rows":null},{"label":"You address","value":"address","type":"text","required":false,"rows":null},{"label":"Your contact no","value":"contact ","type":"number","required":false,"rows":null},{"label":"Your ordered items","value":"order","type":"text","required":false,"rows":null},{"label":"your mail id","value":"mailid","type":"email","required":false,"rows":null}],"formValue":{"Name":"","address":"","contact ":"","order":"","mailid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":160,"wires":[["bc13e715.512e28","6086e7b9.6af4f8"]]},{"id":"a918f8f0.d23768","type":"cloudant out","z":"9a2a53f2.083ec","name":"","cloudant":"","database":"order_details","service":"node-red-ipycl-2020--cloudant-1608212449558-49343","payonly":true,"operation":"insert","x":590,"y":140,"wires":[]},{"id":"e115ece9.a6cf7","type":"ui_group","z":"","name":"Order details","tab":"6143c8ad.072638","order":3,"disp":true,"width":7,"collapse":false},{"id":"6143c8ad.072638","type":"ui_tab","z":"","name":"Shopbot","icon":"dashboard","disabled":false,"hidden":false}]